<div class="container">                
    <table class="table" >
       
      <tr class="time-table">
        <th>User Id</th>
        <th>Name</th>
        <th>Email Id</th>
        <th>Phone no</th>
        <th>Aadhar no</th>
        <th>role</th>
      </tr>


      <tr *ngFor="let b of registerList">
          <td id="td"  style="text-align: justify;">{{b.userId}}</td>
          <td id="td"  style="text-align: justify;">{{b.customerName}}</td>
          <td id="td"  style="text-align: justify;">{{b.emailId}}</td>
          <td id="td"  style="text-align: justify;">{{b.mobile}}</td>
          <td id="td"  style="text-align: justify;">{{b.aadharNo}}</td>
          <td id="td"  style="text-align: justify;">{{b.role}}</td>
          <td>
            <button class="btn btn-primary btn-sm" style="margin-right: 3%;"routerLink="/update">Edit</button>
        
            <button class="btn btn-danger btn-sm" routerLink="/delete">Delete</button>
        </td>
      </tr>
    </table>
  </div>
