<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h4 class="mb-4 pb-2 pb-md-0 mb-md-5"><b>Transfer Money</b></h4>
                        <form [formGroup]="myForm" id="myForm" name="myForm">

                           
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="number" id="userId" class="form-control form-control-lg" formControlName="userId"/>
                                        <label class="form-label"  for="userId">Receiver Id</label>
                                        <div *ngIf="myForm.get('userId')!.touched && myForm.get('userId')!.invalid">
                                            <div *ngIf="myForm.get('userId')!.hasError('required')">
                                                <font color="red"><b>Email Id is Required.</b></font>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="number" id="amount" class="form-control form-control-lg" formControlName="amount"/>
                                        <label class="form-label"  for="amount">Amount</label>
                                        <div *ngIf="myForm.get('amount')!.touched && myForm.get('amount')!.invalid">
                                            <div *ngIf="myForm.get('amount')!.hasError('required')">
                                                <font color="red"><b>Email Id is Required.</b></font>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input class="btn btn-primary" type="submit" value="Submit" (click)="insertTransaction(myForm.value)"/>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <a href="#"  class="btn btn-primary" routerLink="/userhome">Back</a>
                                    </div>

                                </div>
                            </div>
                           
                        </form>

                           

                            {{result}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>